{% extends "navigation.html" %}

{% block app_content %}
<h1>{{ user.username }}'s Environments</h1>
<table class="table" style="width:100%">
<form action="" method="post">
    {{ form.hidden_tag() }}
    <tr>
    <td class="form-group">
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </td>
    <td class="form-group">
        {{ form.timing.label }}<br>
        {{ form.timing(size=64) }}<br><br>
        {{ form.submit() }}
        {% for error in form.timing.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </td>
</form>
</table>
<table class="table" style="border-collapse: separate; border-spacing: 1px; width:100%;">
    <tr>
        <th>Environment Name</th>
        <th>Environment Timing</th>
        <th>Environment Status</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Connection Status on last run</th>
        <th>Last Run Date/Time</th>
    </tr>
    {% for environment in environments %}
    <tr>
        <td><a href="{{ url_for('servers', env_id_fk= environment.id ) }}">{{ environment.name }}</a></td>
        <td>{{ environment.timing }}</td>
        {% if environment.environment_status == 3 %}
        <td style="border: 3px solid orange">FAILURE OCCURED AT {TIME}</td>
        {% elif environment.env_status == 2 %}
        <td style="border: 3px solid green">PASS</td>
        {% elif environment.env_status == 1 %}
        <td style="border: 3px solid blue">NEW ENVIRONMENT</td>
        {% elif environment.env_status == 0 %}
        <td style="border: 3px solid red">FAIL</td>
        {% endif %}
        <td><a href="{{ url_for('run_environment', env_id= environment.id ) }}">Run</a></td>
        <td><a href="{{ url_for('edit_environment', env_id= environment.id ) }}">Edit Environment</a></td>
        <td><a href="{{ url_for('delete_environment', env_id= environment.id ) }}">Delete Environment</a></td>
        {% if environment.connection_status == 1 %}
        <td style="border: 3px solid red" align="center"/>
        <img src="{{url_for('static', filename='error.png')}}" width="25" height="25" align="center">
        </td>
        {% elif environment.connection_status == 2 %}
        <td style="border: 3px solid orange" align="center"/>
        <img src="{{url_for('static', filename='pass.png')}}" width="25" height="25" align="center">
        </td>
        {% elif environment.connection_status == 0 %}
        <td style="border: 3px solid green" align="center"/>
        <img src="{{url_for('static', filename='pass.png')}}" width="25" height="25">
        </td>
        {% endif %}
        <td>{{environment.status_timestamp}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}