{% extends "navigation.html" %}

{% block app_content %}
<h1>Servers in {{ environment.name }}</h1>
<table class="table" style="width:100%">
<form action="" method="post">
    {{ form.hidden_tag() }}
    <tr>
    <td class="form-group">
        {{ form.ip_address.label }}<br>
        {{ form.ip_address(size=32) }}<br>
        {% for error in form.ip_address.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </td>
    <td class="form-group">
        {{ form.username.label }}<br>
        {{ form.username(size=64) }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </td>
    </tr>
    <tr><td class="form-group">{{ form.submit() }}</td><td></td></tr>
</form>
</table>
<table style="width:100%" class="table">
    <tr>
        <th>Server IP</th>
        <th>Server Username</th>
        <th>Server Status</th>
        <th></th>
        <th></th>
    </tr>
    {% for server in servers %}
    <tr>
        <td>{{ server.ip_address }}</td>
        <td>{{ server.username }}</td>
        {% if server.server_status == 2 %}
        <td style="background-color:green">PASS</td>
        {% elif server.server_status == 1 %}
        <td style="background-color:orange">INVESTIGATION ONGOING</td>
        {% else %}
        <td style="background-color:red">FAIL</td>
        {% endif %}
        <td><a href="{{ url_for('edit_server', environment_id= environment.id, server_id= server.id ) }}">Edit Server</a></td>
        <td><a href="{{ url_for('delete_server', environment_id= environment.id, server_id= server.id ) }}">Delete Server</a></td>
        <td><a href="{{ url_for('commands', environment_id= environment.id, server_id= server.id ) }}">Commands Running on this Server</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}